  <div class="form-group">
    <span id='createdShortUrl'>Created short url</label>
  </div>
  <button type="submit" class="btn btn-success">Copy</button>
  <button type="submit" class="btn btn-primary">Visit</button>
